*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.scratch/
.pairing/

wireframe/*.jsx
wireframe/*.js
wireframe/.thumbnail
wireframe/*.html
!wireframe/Qalam Android Native Design.zip
/app/qalam-release.keystore
